@import "~materialize-css/dist/css/materialize.min.css";

.flex {
  display: flex;
  align-items: center;
}

.bordered {
  border-radius: 5px;
  text-align: center;
  padding: 1rem;
}

.space-between {
  justify-content: space-between;
}

.m-r-1 {
  margin-right: 1rem;
}

.flex-grow {
  flex-grow: 1;
}